/.project
/.classpath
/.settings/
/.idea/
/cdi-query-parent.iml
/checkstyle-cachefile
/target/
/docs/target/
/impl/.classpath
/impl/.project
/impl/cdi-query-impl.iml
/impl/.pmd
/impl/.checkstyle
/impl/.settings/
/impl/derby.log
/docs/.project
/docs/.settings/
/dist/.project
/dist/.settings/
/dist/target/
/combined/.project
/combined/.settings/
/api/.classpath
/api/.project
/api/.settings/
/api/cdi-query-api.iml
/api/target/
/combined/target/
/impl/target/
/combined/.classpath
/docs/.classpath
/api/nb-configuration.xml
/checkstyle-cachefile
.DS_Store
.externalToolBuilders
/faces/target/
/faces/.classpath
/faces/.project
/faces/.settings/

