/.project
/.classpath
/.settings/
/target/
/docs/target/
/impl/.classpath
/impl/.project
/impl/.settings/
/impl/derby.log
/docs/.project
/docs/.settings/
/dist/.project
/dist/.settings/
/combined/.project
/combined/.settings/
/api/.classpath
/api/.project
/api/.settings/
/api/target/
/combined/target/
/impl/target/

/combined/.classpath
/docs/.classpath
/api/nb-configuration.xml